<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="AzureSubscriptionId" value="1473a4a4-1482-429b-be08-bac4e5bfdfd7" />
    <add key="AzureAutomationResourceGroupName" value="rg-wex-cw" /> 
    <add key="AzureAutomationAccountName" value="rdc-automation-wex" /> 
    <add key="AzureRunbookName" value="test-vm-permissions" /> 
    <add key="AzureOpenAIEndpoint" value="AzureOpenAI-Endpoint-URI" />
		<add key="AzureOpenAIKey" value="AzureOpenAI KEY" />  
		<add key="AzureOpenAIModel" value="AzureOpenAI Model Name" />
	</appSettings>
</configuration>
